html {
  font-family: Inter, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: var(--st-color-link);
}

a:hover {
  color: var(--st-color-link-hover);
}

a:visited {
  color: var(--st-color-link-visited);
}

.l-main-content-section {
  padding: 0 var(--st-length-main-content-side-padding);
  padding-bottom: var(--st-length-spacing-xs);
}

.l-paragraph,
.directus-formatted-content p,
.directus-formatted-content ul,
.directus-formatted-content ol {
  max-width: 45rem;
  margin: auto;
  margin-top: var(--st-length-spacing-xs);
  font-size: 1em;
  line-height: 1.5;
}

.l-paragraph--large {
  font-size: 1.2em;
}

.l-table,
.directus-formatted-content table {
  width: 100%;
  margin: var(--st-length-spacing-xs) auto;
  border-collapse: collapse;
}

.l-table td,
.l-table th,
.directus-formatted-content td,
.directus-formatted-content th {
  padding: 0.5rem;
  border-bottom: 1px solid var(--st-color-table-border);
}

.l-table th,
.directus-formatted-content th {
  border-bottom: 1px solid var(--st-color-table-heading-border);
  text-align: left;
}

.directus-formatted-content img {
  max-width: 100%;
}

.l-people-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* justify-content: space-between;
  flex-wrap: wrap; */
}

.l-people-list__person {
  margin-top: var(--st-length-spacing-m);
  width: 100%;
}

.l-blank-slate-message {
  margin-top: var(--st-length-spacing-m);
  text-align: center;
}

.l-separator {
  display: block;
  height: 2px;
  width: 50%;
  margin: auto;
  background-color: var(--st-color-separator);
}

.l-form-select {
  appearance: none;
  font-size: 1em;
  font-family: inherit;
  padding: var(--st-length-spacing-xxs);
  padding-right: 1.5rem;
  border: 1px solid var(--st-color-select-border);
  border-radius: 10px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg>');
  background-repeat: no-repeat;
  background-position: right var(--st-length-spacing-xxs) center;
  background-size: 1rem;
}

@media (--sm-and-up) {
  .l-people-list__person {
    width: 80%;
  }
}

@media (--md-and-up) {
  html {
    font-size: 1.25em;
  }

  .l-main-content-section {
    width: 100%;
    padding-bottom: var(--st-length-spacing-xs);
  }

  .l-table,
  .directus-formatted-content table {
    width: 45rem;
  }

  .l-table--large,
  .directus-formatted-content table.st-full-width {
    width: 100%;
  }

  .l-people-list__person {
    width: 70%;
  }
}

@media (--lg-and-up) {
  .l-people-list {
    flex-flow: row wrap;
    align-items: flex-start;
  }

  .l-people-list__person {
    width: 50%;
  }
}

/* Utility classes */

.u-visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.u-unstyled-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.u-unstyled-button {
  font-family: inherit;
  font-size: inherit;
  appearance: none;
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
}
