html {
  font-family: 'Inter', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: var(--st-color-link);
}

a:hover {
  color: var(--st-color-link-hover);
}

a:visited {
  color: var(--st-color-link-visited);
}

.l-main-content-section {
  padding: 0 var(--st-length-spacing-xs);
  padding-bottom: var(--st-length-spacing-xs);
}

@media (--md-and-up) {
  html {
    font-size: 1.25em;
  }

  .l-main-content-section {
    width: 100%;
    padding: 0 max(calc((100% - var(--st-length-main-content-max-width)) / 2), var(--st-length-spacing-s));
    padding-bottom: var(--st-length-spacing-xs);
  }
}

/* Utility classes */

.u-visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.u-unstyled-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.u-unstyled-button {
  font-family: inherit;
  appearance: none;
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
}
