@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  /* stylelint-disable-next-line property-no-unknown */
  font-named-instance: 'Regular';
  src: url('~assets/fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  /* stylelint-disable-next-line property-no-unknown */
  font-named-instance: 'Italic';
  src: url('~assets/fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
}

.t-headline-1 {
  font-size: 2em;
  font-weight: 900;
}

.t-headline-2,
.c-dynamic-page__body h3 {
  font-size: 1.5em;
  font-weight: 900;
}

.t-headline-3,
.c-dynamic-page__body h4 {
  font-size: 1.2em;
  font-weight: 900;
}

.t-headline-4,
.c-dynamic-page__body h5 {
  font-size: 1em;
  font-weight: 900;
}

.t-paragraph,
.c-dynamic-page__body p {
  font-size: 1em;
  line-height: 1.2;
}
