@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  /* stylelint-disable-next-line property-no-unknown */
  font-named-instance: 'Regular';
  src: url('~assets/fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  /* stylelint-disable-next-line property-no-unknown */
  font-named-instance: 'Italic';
  src: url('~assets/fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
}

.t-headline-1,
.t-headline-2,
.t-headline-3,
.t-headline-4,
.directus-formatted-content h1,
.directus-formatted-content h2,
.directus-formatted-content h3,
.directus-formatted-content h4,
.directus-formatted-content h5 {
  font-weight: 900;
  padding-top: var(--st-length-spacing-s);
}

.t-headline-1 {
  font-size: 2em;
}

.t-headline-2,
.directus-formatted-content h3 {
  font-size: 1.5em;
}

.t-headline-3,
.directus-formatted-content h4 {
  font-size: 1.2em;
}

.t-headline-4,
.directus-formatted-content h5 {
  font-size: 1em;
}

.t-paragraph,
.directus-formatted-content p,
.directus-formatted-content ul,
.directus-formatted-content ol {
  max-width: 45rem;
  margin: auto;
  margin-top: var(--st-length-spacing-xs);
  font-size: 1em;
  line-height: 1.2;
}

.t-paragraph--large {
  font-size: 1.2em;
}
