:root {
  /* COLOR DEFINITIONS */

  /* Brand */
  --st-color-red-swiss-tchoukball: #f00;
  --st-color-red-swiss-tchoukball-light: #ff4e4e;
  --st-color-red-swiss-tchoukball-very-light: #ff9d9d;
  --st-color-red-swiss-tchoukball-dark: #b10000;
  --st-color-red-swiss-tchoukball-very-dark: #620000;

  /* Greys */
  --st-color-grey-very-dark: #1a1a1a;
  --st-color-grey-dark: #595959;
  --st-color-grey: #a6a6a6;
  --st-color-grey-light: #d9d9d9;
  --st-color-grey-very-light: #f2f2f2;

  /* COLOR USAGE */

  /* Core */
  --st-color-text: black;
  --st-color-main-content-alternative-background: var(--st-color-grey-very-light);
  --st-color-separator: var(--st-color-red-swiss-tchoukball);

  /* Links */
  --st-color-link: var(--st-color-red-swiss-tchoukball);
  --st-color-link-hover: var(--st-color-red-swiss-tchoukball-very-light);
  --st-color-link-visited: var(--st-color-red-swiss-tchoukball-dark);

  /* Navigation */
  --st-color-burger-menu: var(--st-color-red-swiss-tchoukball);
  --st-color-navigation-drawer-background: var(--st-color-grey-very-light);
  --st-color-wide-navigation-item: black;
  --st-color-wide-navigation-item-active-border: var(--st-color-red-swiss-tchoukball);
  --st-color-wide-navigation-item-active-background: var(--st-color-grey-very-light);
  --st-color-wide-navigation-sub-items-background: white;
  --st-color-wide-navigation-narrow-sub-item-active-background: white;
  --st-color-small-navigation-item-hover-border: var(--st-color-grey-light);
  --st-color-active-lang: var(--st-color-red-swiss-tchoukball);

  /* Loader */
  --st-color-loader-background: var(--st-color-red-swiss-tchoukball);
  --st-color-loader-foreground: white;

  /* Pagination */
  --st-color-pagination-page-active-background: var(--st-color-grey-very-light);

  /* Footer */
  --st-color-footer-social-background: var(--st-color-grey-very-light);
  --st-color-footer-tchouksuisse: var(--st-color-red-swiss-tchoukball);

  /* Buttons */
  --st-color-button-base-background: white;
  --st-color-button-base-border: var(--st-color-grey-dark);
  --st-color-button-base-text: black;
  --st-color-button-base-background-hover: var(--st-color-grey-very-light);
  --st-color-button-base-border-hover: black;
  --st-color-button-base-text-disabled: var(--st-color-grey);
  --st-color-button-base-border-disabled: var(--st-color-grey-light);
  --st-color-button-primary-background: var(--st-color-red-swiss-tchoukball);
  --st-color-button-primary-text: white;
  --st-color-button-primary-background-hover: var(--st-color-red-swiss-tchoukball-dark);
  --st-color-button-primary-text-disabled: white;
  --st-color-button-primary-background-disabled: var(--st-color-grey);

  /* Home */
  --st-color-home-carousel-dot: var(--st-color-grey-light);
  --st-color-home-carousel-dot-active: var(--st-color-red-swiss-tchoukball);
  --st-color-home-carousel-title-foreground: white;

  /* Person */
  --st-color-person-sub-name: var(--st-color-grey-dark);
  --st-color-person-detail-icon: var(--st-color-red-swiss-tchoukball);

  /* News */
  --st-color-news-category-background: var(--st-color-red-swiss-tchoukball);
  --st-color-news-category-foreground: white;
  --st-color-news-image-background: var(--st-color-grey-very-light);
  --st-color-news-date-foreground: var(--st-color-grey-dark);

  /* Events */
  --st-color-event-background: var(--st-color-grey-very-light);
  --st-color-event-month: var(--st-color-red-swiss-tchoukball);
  --st-color-event-day-of-week: var(--st-color-grey-dark);
  --st-color-event-category: var(--st-color-red-swiss-tchoukball);
  --st-color-event-icon: var(--st-color-red-swiss-tchoukball);
  --st-color-event-month-switch-link: var(--st-color-red-swiss-tchoukball);

  /* National teams */
  --st-color-national-team-result-location: var(--st-color-grey-dark);

  /* Medals */
  --st-color-medal-gold: #ffd700;
  --st-color-medal-silver: #c0c0c0;
  --st-color-medal-bronze: #cd7f32;
  --st-color-medal-none: var(--st-color-grey-very-light);

  /* Competitions */
  --st-color-phase-select-border: var(--st-color-grey-light);
  --st-color-phase-select-background-hover: var(--st-color-grey-very-light);
  --st-color-match-score: var(--st-color-red-swiss-tchoukball);
  --st-color-match-results-separator: var(--st-color-grey-light);
  --st-color-match-phase-round: var(--st-color-red-swiss-tchoukball);

  /* LENGTHS */
  --st-length-main-content-max-width: 100%;
  --st-length-small-header-height: 50px;
  --st-length-spacing-xxs: 0.4rem;
  --st-length-spacing-xs: 0.8rem;
  --st-length-spacing-s: 1.6rem;
  --st-length-spacing-m: 3rem;
  --st-length-spacing-l: 5rem;
  --st-length-spacing-xl: 8rem;
  --st-length-main-content-side-padding: var(--st-length-spacing-xs);

  /* Breakpoints */
  --st-breakpoing-l-xl: 1905px;

  /* Shadows */
  --st-shadow-navigation: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

@media (--md-and-up) {
  :root {
    --st-length-main-content-side-padding: max(
      calc((100vw - var(--st-length-main-content-max-width)) / 2),
      var(--st-length-spacing-s)
    );
  }
}

@media (--lg-and-up) {
  :root {
    --st-length-main-content-max-width: 1400px;
  }
}
