:root {
  /* COLORS */

  /* Brand */
  --st-color-red-swiss-tchoukball: #f00;
  --st-color-red-swiss-tchoukball-light: #ff9d9d;
  --st-color-red-swiss-tchoukball-dark: #620000;

  /* Greys */
  --st-color-grey-very-dark: #1a1a1a;
  --st-color-grey-dark: #595959;
  --st-color-grey: #a6a6a6;
  --st-color-grey-light: #d9d9d9;
  --st-color-grey-very-light: #f2f2f2;

  /* Usage */
  --st-color-text: black;
  --st-color-link: var(--st-color-red-swiss-tchoukball);
  --st-color-link-hover: var(--st-color-red-swiss-tchoukball-light);
  --st-color-link-visited: var(--st-color-red-swiss-tchoukball-dark);
  --st-color-burger-menu: var(--st-color-red-swiss-tchoukball);
  --st-color-navigation-drawer-background: var(--st-color-grey-very-light);
  --st-color-wide-navigation-item: black;
  --st-color-wide-navigation-item-active-border: var(--st-color-red-swiss-tchoukball);
  --st-color-wide-navigation-item-active-background: var(--st-color-grey-very-light);
  --st-color-wide-navigation-sub-items-background: rgba(255, 255, 255, 0.9); /* var(--st-color-grey-very-light); */
  --st-color-wide-navigation-narrow-sub-item-active-background: white;
  --st-color-active-lang: var(--st-color-red-swiss-tchoukball);
  --st-color-main-content-alternative-background: var(--st-color-grey-very-light);

  /* Medals */
  --st-color-medal-gold: #ffd700;
  --st-color-medal-silver: #c0c0c0;
  --st-color-medal-bronze: #cd7f32;
  --st-color-medal-chocolate: #7b3f00;
  --st-color-medal-none: var(--st-color-grey-very-light);

  /* LENGTHS */
  --st-length-main-content-max-width: 100%;
  --st-length-small-header-height: 50px;
  --st-length-spacing-xs: 0.8rem;
  --st-length-spacing-s: 1.6rem;
  --st-length-spacing-m: 3rem;
  --st-length-spacing-l: 5rem;
  --st-length-spacing-xl: 8rem;
}

@media (--lg-and-up) {
  :root {
    --st-length-main-content-max-width: 1400px;
  }
}
