@import url('~/assets/css/media.css');

:root {
  font-family: Inter, sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
    font-optical-sizing: auto;
  }
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--st-color-text);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: var(--st-color-link);
}

a:hover {
  color: var(--st-color-link-hover);
}

a:visited {
  color: var(--st-color-link-visited);
}

.l-main-content-section {
  padding: 0 var(--st-length-main-content-side-padding);
  padding-bottom: var(--st-length-spacing-xs);
}

.l-paragraph,
.directus-formatted-content p,
.directus-formatted-content ul,
.directus-formatted-content ol {
  max-width: 45em;
  margin-top: var(--st-length-spacing-xs);
  font-size: 1em;
  line-height: 1.5;
}

.directus-formatted-content .st-full-width {
  max-width: 100%;
}

.l-paragraph--large,
.directus-formatted-content.directus-formatted-content--large p {
  font-size: 1.2em;
}

.l-paragraph small {
  font-size: 0.7em;
}

.l-table,
.directus-formatted-content table {
  width: 100%;
  margin: var(--st-length-spacing-xs) auto;
  border-collapse: collapse;
}

.l-table td,
.l-table th,
.directus-formatted-content td,
.directus-formatted-content th {
  padding: var(--st-length-spacing-xxs);
  border-bottom: 1px solid var(--st-color-table-border);
}

.l-table th,
.directus-formatted-content th {
  border-bottom: 1px solid var(--st-color-table-heading-border);
  text-align: left;
}

.directus-formatted-content figure {
  margin-top: var(--st-length-spacing-xs);
}

.directus-formatted-content figcaption {
  font-size: 0.8em;
  text-align: center;
}

.directus-formatted-content img {
  max-width: 100%;
}

.directus-formatted-content hr {
  max-width: 60rem;
  margin: var(--st-length-spacing-s) auto;
  border: 1px solid var(--st-color-hr);
}

.l-people-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-people-list__person {
  margin-top: var(--st-length-spacing-m);
  width: 100%;
}

.l-blank-slate-message {
  margin: var(--st-length-spacing-m) 0;
  text-align: center;
}

.l-separator {
  display: block;
  height: 2px;
  width: 50%;
  margin: auto;
  background-color: var(--st-color-separator);
}

@media (--sm-and-up) {
  .l-people-list__person {
    width: 80%;
  }
}

@media (--md-and-up) {
  html {
    font-size: 1.25em;
  }

  .l-main-content-section {
    width: 100%;
    padding-bottom: var(--st-length-spacing-xs);
  }

  .l-table,
  .directus-formatted-content table {
    width: 45em;
  }

  .l-table--large,
  .directus-formatted-content table.st-full-width {
    width: 100%;
  }

  .l-people-list__person {
    width: 70%;
  }
}

@media (--lg-and-up) {
  .l-people-list {
    flex-flow: row wrap;
    align-items: flex-start;
  }

  .l-people-list__person {
    width: 50%;
  }
}

/* Utility classes */

.u-is-windows {
  font-family: 'Twemoji Country Flags', Inter, sans-serif;
}

.u-visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.u-unstyled-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.u-unstyled-button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: unset;
  appearance: none;
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
}
