@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/InterVariable.woff2') format('woff2');
}

@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/InterVariable-Italic.woff2') format('woff2');
}

/* Font with flag emojis for Windows */
@font-face {
  font-family: 'Twemoji Country Flags';
  unicode-range:
    U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067, U+E006C, U+E006E, U+E0073-E0074, U+E0077, U+E007F;
  src: url('https://cdn.jsdelivr.net/npm/country-flag-emoji-polyfill@0.1/dist/TwemojiCountryFlags.woff2')
    format('woff2');
}

.t-headline-1,
.t-headline-2,
.t-headline-3,
.t-headline-4,
.directus-formatted-content h1,
.directus-formatted-content h2,
.directus-formatted-content h3,
.directus-formatted-content h4,
.directus-formatted-content h5 {
  font-weight: 900;
  padding-top: var(--st-length-spacing-s);
}

.t-headline-1 {
  font-size: 2em;
}

.t-headline-2,
.directus-formatted-content h3 {
  font-size: 1.5em;
}

.t-headline-3,
.directus-formatted-content h4 {
  font-size: 1.2em;
}

.t-headline-4,
.directus-formatted-content h5 {
  font-size: 1em;
}

.t-headline-1 a,
.t-headline-2 a,
.t-headline-3 a,
.t-headline-4 a,
.directus-formatted-content h1 a,
.directus-formatted-content h2 a,
.directus-formatted-content h3 a,
.directus-formatted-content h4 a,
.directus-formatted-content h5 a {
  text-decoration: none;
}
