@import url('~/assets/css/media.css');

:root {
  /* COLOR DEFINITIONS */

  /* Brand */
  --st-color-red-swiss-tchoukball: #f00;
  --st-color-red-swiss-tchoukball-light: #ff4e4e;
  --st-color-red-swiss-tchoukball-very-light: #ff9d9d;
  --st-color-red-swiss-tchoukball-ultra-light: #ffd8d8;
  --st-color-red-swiss-tchoukball-dark: #b10000;
  --st-color-red-swiss-tchoukball-very-dark: #620000;
  --st-color-red-swiss-tchoukball-ultra-dark: #270000;
  --st-color-euro-red-500: rgb(255 0 0);
  --st-color-euro-blue-500: rgb(0 86 124);
  --st-color-euro-sky-blue-500: rgb(107 226 228);

  /* Greys */
  --st-color-grey-very-dark: #1a1a1a;
  --st-color-grey-dark: #595959;
  --st-color-grey: #a6a6a6;
  --st-color-grey-light: #d9d9d9;
  --st-color-grey-very-light: #f2f2f2;

  /* COLOR USAGE */

  /* Core */
  --st-color-text: var(--st-color-grey-very-dark);
  --st-color-text-lighter: var(--st-color-grey-dark);
  --st-color-error: var(--st-color-red-swiss-tchoukball);
  --st-color-main-content-alternative-background: var(--st-color-grey-very-light);
  --st-color-separator: var(--st-color-red-swiss-tchoukball);
  --st-color-table-heading-border: var(--st-color-red-swiss-tchoukball);
  --st-color-table-border: var(--st-color-grey);
  --st-color-hr: var(--st-color-grey-light);

  /* Links */
  --st-color-link: var(--st-color-red-swiss-tchoukball);
  --st-color-link-hover: var(--st-color-red-swiss-tchoukball-very-light);
  --st-color-link-visited: var(--st-color-red-swiss-tchoukball-dark);

  /* Navigation */
  --st-color-burger-menu: var(--st-color-red-swiss-tchoukball);
  --st-color-navigation-drawer-background: var(--st-color-grey-very-light);
  --st-color-navigation-item-inverted-hover: var(--st-color-red-swiss-tchoukball);
  --st-color-navigation-item-inverted-active-background: var(--st-color-red-swiss-tchoukball);
  --st-color-wide-navigation-item: black;
  --st-color-wide-navigation-item-active-border: var(--st-color-red-swiss-tchoukball);
  --st-color-wide-navigation-item-active-background: var(--st-color-grey-very-light);
  --st-color-wide-navigation-sub-items-background: white;
  --st-color-wide-navigation-narrow-sub-item-active: var(--st-color-red-swiss-tchoukball);
  --st-color-wide-navigation-narrow-sub-item-active-background: white;
  --st-color-small-navigation-item-hover-border: var(--st-color-grey-light);
  --st-color-active-lang: var(--st-color-red-swiss-tchoukball);
  --st-color-breadcrumb-separation: var(--st-color-grey-dark);

  /* Loader */
  --st-color-loader-background: var(--st-color-red-swiss-tchoukball);
  --st-color-loader-foreground: white;

  /* Pagination */
  --st-color-pagination-page-active-background: var(--st-color-grey-very-light);

  /* Forms */
  --st-color-input-border: var(--st-color-grey);
  --st-color-select-border: var(--st-color-grey-very-light);
  --st-color-form-search-field-background: var(--st-color-grey-very-light);

  /* Footer */
  --st-color-footer-social-background: var(--st-color-grey-very-light);
  --st-color-footer-tchouksuisse: var(--st-color-red-swiss-tchoukball);
  --st-color-footer-newsletter: var(--st-color-red-swiss-tchoukball);
  --st-color-footer-newsletter-hover: white;
  --st-color-footer-navigation-background: var(--st-color-red-swiss-tchoukball);

  /* Buttons */
  --st-color-button-base-background: white;
  --st-color-button-base-border: var(--st-color-grey-dark);
  --st-color-button-base-text: black;
  --st-color-button-base-background-hover: var(--st-color-grey-very-light);
  --st-color-button-base-border-hover: black;
  --st-color-button-base-text-disabled: var(--st-color-grey);
  --st-color-button-base-border-disabled: var(--st-color-grey-light);
  --st-color-button-primary-background: var(--st-color-red-swiss-tchoukball);
  --st-color-button-primary-text: white;
  --st-color-button-primary-background-hover: var(--st-color-red-swiss-tchoukball-dark);
  --st-color-button-primary-text-disabled: white;
  --st-color-button-primary-background-disabled: var(--st-color-grey);
  --st-color-button-secondary-background: var(--st-color-red-swiss-tchoukball-ultra-light);
  --st-color-button-secondary-text: black;
  --st-color-button-secondary-background-hover: var(--st-color-red-swiss-tchoukball-very-light);
  --st-color-button-secondary-text-disabled: black;
  --st-color-button-secondary-background-disabled: var(--st-color-grey);

  /* Tooltips */
  --st-color-tooltip-foreground: white;
  --st-color-tooltip-background: var(--st-color-grey-very-dark);

  /* Person */
  --st-color-person-sub-name: var(--st-color-grey-dark);
  --st-color-person-detail-icon: var(--st-color-red-swiss-tchoukball);
  --st-color-person-role-list-marker: var(--st-color-grey);
  --st-color-person-avatar-background: var(--st-color-grey-very-light);

  /* Domains */
  --st-color-domain-background: var(--st-color-red-swiss-tchoukball);
  --st-color-domain-foreground: white;

  /* News */
  --st-color-news-image-background: var(--st-color-grey-very-light);
  --st-color-news-image-foreground: var(--st-color-grey);
  --st-color-news-date-foreground: var(--st-color-grey-dark);
  --st-color-news-hero-title-foreground: white;

  /* Press releases */
  --st-color-press-release-context-background: var(--st-color-red-swiss-tchoukball);
  --st-color-press-release-context-foreground: white;
  --st-color-press-release-date-foreground: var(--st-color-grey-dark);

  /* Events */
  --st-color-event-background: var(--st-color-grey-very-light);
  --st-color-event-foreground-cancelled: var(--st-color-grey-dark);
  --st-color-event-month: var(--st-color-red-swiss-tchoukball);
  --st-color-event-context: var(--st-color-grey-dark);
  --st-color-event-day-of-week: var(--st-color-grey-dark);
  --st-color-event-type: var(--st-color-red-swiss-tchoukball);
  --st-color-event-icon: var(--st-color-red-swiss-tchoukball);
  --st-color-event-month-switch-link: var(--st-color-red-swiss-tchoukball);
  --st-color-event-cancelled-label: var(--st-color-red-swiss-tchoukball);
  --st-color-event-address-toggle-marker: var(--st-color-grey-dark);

  /* Month calendar */
  --st-color-calendar-border: var(--st-color-grey-light);
  --st-color-calendar-today-foreground: white;
  --st-color-calendar-today-background: var(--st-color-red-swiss-tchoukball);
  --st-color-calendar-day-not-in-month-color: var(--st-color-grey);
  --st-color-calendar-event-time: var(--st-color-grey-dark);
  --st-color-calendar-event-background: var(--st-color-red-swiss-tchoukball-ultra-light);

  /* National teams */
  --st-color-national-team-result-location: var(--st-color-grey-dark);

  /* National competition */
  --st-color-planning-match-round: var(--st-color-red-swiss-tchoukball);

  /* Medals */

  --st-color-medal-gold: repeating-conic-gradient(
      #edc800 0deg,
      #ffe800 15deg,
      #f3cf00 30deg,
      #e3b600 45deg,
      #edc800 60deg
    )
    10% 10%;
  --st-color-medal-silver: repeating-conic-gradient(
      #c3c3c3 0deg,
      #ccc 15deg,
      #c6c6c6 30deg,
      #d7d7d7 45deg,
      #c3c3c3 60deg
    )
    10% 10%;
  --st-color-medal-bronze: repeating-conic-gradient(
      #d96b41 0deg,
      #b15a39 15deg,
      #b25b3a 30deg,
      #d26645 45deg,
      #d96b41 60deg
    )
    10% 10%;
  --st-color-medal-gold-simple: #ffd700;
  --st-color-medal-silver-simple: #c0c0c0;
  --st-color-medal-bronze-simple: #cd7f32;
  --st-color-medal-none: var(--st-color-grey-very-light);

  /* Competitions */
  --st-color-phase-select-border: var(--st-color-grey-light);
  --st-color-phase-select-background-hover: var(--st-color-grey-very-light);
  --st-color-match-score: var(--st-color-red-swiss-tchoukball);
  --st-color-match-results-separator: var(--st-color-grey-light);
  --st-color-match-result-background-hover: var(--st-color-grey-very-light);
  --st-color-match-phase-round: var(--st-color-red-swiss-tchoukball);
  --st-color-match-additional-info-background: var(--st-color-red-swiss-tchoukball-ultra-light);

  /* Resources */
  --st-color-resource-icon: var(--st-color-red-swiss-tchoukball);
  --st-color-resource-details: var(--st-color-grey-dark);

  /* Tchoukup */
  --st-color-tchoukup-border: var(--st-color-grey);

  /* Flickr */
  --st-color-photo-caption-text: white;
  --st-color-photo-pile-effect-line: var(--st-color-grey-dark);

  /* Live stream banner */
  --st-color-live-stream-background: var(--st-color-red-swiss-tchoukball);
  --st-color-live-stream-foreground: white;

  /* LENGTHS */
  --st-length-main-content-max-width: 100%;
  --st-length-small-header-height: 50px;
  --st-length-spacing-xxs: 0.4rem;
  --st-length-spacing-xs: 0.8rem;
  --st-length-spacing-s: 1.6rem;
  --st-length-spacing-m: 3rem;
  --st-length-spacing-l: 5rem;
  --st-length-spacing-xl: 8rem;
  --st-length-main-content-side-padding: var(--st-length-spacing-xs);

  /* Breakpoints */
  --st-breakpoint-l-xl: 1905px;

  /* Shadows */
  --st-shadow-navigation: rgb(100 100 111 / 20%) 0 7px 29px 0;
}

@media (color-gamut: p3) {
  :root {
    /* Brand */
    --st-color-red-swiss-tchoukball: color(display-p3 1 0 0);
    --st-color-red-swiss-tchoukball-light: color(display-p3 1 0.4 0.37);
    --st-color-red-swiss-tchoukball-very-light: color(display-p3 1 0.67 0.66);
    --st-color-red-swiss-tchoukball-ultra-light: color(display-p3 1 0.86 0.86);
    --st-color-red-swiss-tchoukball-dark: color(display-p3 0.64 0.05 0);
    --st-color-red-swiss-tchoukball-very-dark: color(display-p3 0.35 0.03 0);
    --st-color-red-swiss-tchoukball-ultra-dark: color(display-p3 0.14 0.01 0);
  }
}

@media (--md-and-up) {
  :root {
    --st-length-main-content-side-padding: max(
      calc((100vw - var(--st-length-main-content-max-width)) / 2),
      var(--st-length-spacing-s)
    );
  }
}

@media (--lg-and-up) {
  :root {
    --st-length-main-content-max-width: 1400px;
  }
}
